.App {
  height: 100vh;
  padding: 40px;
  background-image: linear-gradient(to right, #b6fbff, #83a4d4);
}

.App-header {
  color: var(--blue);
}

.app-title {
  font-size: xx-large;
  align-items: center;
  text-align: center;
  font-weight: bolder;
}

.element {
  margin-left: 23px;
  margin-bottom: 15px;
}

.filter-container {
  margin-right: 30px;
}

.filter {
  color: var(--blue);
  border: 1px solid var(--blue);
  padding: 10px;
  border-radius: 10px;
  width: 250px;
  font-size: medium;
  font-style: italic;
}

.filter::placeholder  {
  color: var(--blue);
}

.radio-button-container {
  width: 320px; 
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--blue);
}

.button-container {
  margin-left: 20px;
}

.tree-container {
  margin: 20px 0;
}

.folder-button {
  padding-top: 5px;
  width: 40px;
  background-color: var(--purple);
  color: var(--white);
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: large;
}

.directory {
  margin-left: 20px;
}

.folder {
  margin: 10px 0;
}

.document-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.document {
  font-size: x-large;
  margin-right: 10px;
}

.modify-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}